/* 菜单图标。可以设置任意大小。border要自己设置，但border-radius已经设置好 */
.menu-icon{
    width: 100px;
    height: 100px   ;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10%;
    cursor: pointer;
}
.menu-icon > .inner3{
    width: 60%;
    height: 10%;
    left: 20%;
    top:20%;
    position: absolute;
    background-color: black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.menu-icon > .inner2{
    width: 60%;
    height: 10%;
    left: 20%;
    top:45%;
    position: absolute;
    background-color: black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.menu-icon > .inner1{
    width: 60%;
    height: 10%;
    left: 20%;
    top:70%;
    position: absolute;
    background-color: black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.menu-icon:focus{
    cursor: pointer;
}
.menu-icon:focus > .inner3{
    top:50%;
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
}
.menu-icon:focus > .inner2{
    /* display: none; */
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
}
.menu-icon:focus > .inner1{
    top:50%;
    transform:  rotate(405deg) ;
    -webkit-transform: rotate(405deg);
}




/* 智能手机图标 */
.mobile-icon{
    width: 14px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid black;
    position: absolute;
}
.mobile-icon::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 10%;
    background-color: black;
    top: 10%;
    left: 35%;
}
.mobile-icon::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 5px;
    border: 2px solid black;
    left: 4px;
    bottom: 2px;
}




/* 胡子图标，使用代码：<div class="mustache-icon"><i></i></div> */
.mustache-icon{
    position: absolute;
}
.mustache-icon::before{
    content: '';
    width: 80px;
    height: 80px;
    border:0 solid transparent;
    border-radius: 0 0 0 100%;
    border-bottom: 50px solid black;
    position: absolute;
    transform: translateX(-105px) rotate(-45deg);
    transform-origin: 0px 0px;
}
.mustache-icon>i::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    top: 80px;
    left: 55px;
    border-radius: 100%;
    transform: translateX(-105px) rotate(-45deg);
    transform-origin:-55px -80px ;
}
.mustache-icon::after{
    content: '';
    width: 80px;
    height: 80px;
    border:0 solid transparent;
    border-radius: 0 0 100% 0;
    border-bottom: 50px solid black;
    position: absolute;
    transform: translateX(105px) rotate(45deg);
    transform-origin: 80px 0px;
}
.mustache-icon>i::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    top: 80px;
    left: -25px;
    border-radius: 100%;
    transform: translateX(105px) rotate(45deg);
    transform-origin:105px -80px ;
}